{
	"MY_DSN":		"tcp:SERVER-NAME:3306*DB/USER/PASSWORD",

	"SQL_QUE1":		"select email from members where email like '%@%' and status>0 and state = '' and country = '$4' order by email;",
	"SQL_QUE2":		"select email from members where email like '%@%' and status>0 and state = '$3' and country = '$4' order by email;",

	"BMDS_TitleDir":	"titles/",
	"BMDS_BodyDir":		"mail/",
	"BMDS_SenderName":	"My test company",
	"BMDS_MaxInstances":	100,
	"BDMS_DKIMKey":		"./dkim.key",
	"BDMS_DKIMDomain":	"gmail.com",
	"BDMS_DKIMSelector":	"mail",

	"BMDS_IPList":		[
					"eth0",
					"eth1"
				],

	"BMDS_SlowMailDelay":	0,

	"LOG_File":		"./BMDS.log",

	"Log_Level":		3
}
