{
	"SQL_Engine":		"PG / MY / SQLite / None",

	"PG_DSN":		"host=SERVER-NAME user=USER password=PASSWORD dbname=DB sslmode=disable",
	"MY_DSN":		"tcp:SERVER-NAME:3306*DB/USER/PASSWORD",
	"SQLite_DB":		"./DataBase.sqlite",

	"SQL_QUE1":		"select email from members where email like '%@%' and status>0 and state = '' and country = '$4' order by email;",
	"SQL_QUE2":		"select email from members where email like '%@%' and status>0 and state = '$3' and country = '$4' order by email;",

	"BMDS_TitleDir":	"titles/",
	"BMDS_BodyDir":		"mail/",

	"BMDS_SenderName":	"Qakadeals",

	"BMDS_MaxInstances":	100,

	"LOG_File":		"./BMDS.log",

	"Log_Level":		3
}
